@charset "UTF-8";

:root{
    --cor01: #ffeb3b
}

*{
    margin: 0;  
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: source s;

}

header{
    background: var(--cor01);
    height: 15vh;
    
    
}
header > h1{
    color: #fff;
    font-size: 1.5rem;
}

.imglogo{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}